* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: deeppink;
    height: 100vh;

}

.logo {
    width: 100px;
    height: 150px;
}

.head {
    display: flex;
}

.head.active {
    display: flex;

}

.menu {
    display: flex;
    margin-left: 3em;
}

.menu p {
    margin-top: 3em;
    margin-left: 3em;
    font-size: 1.5em;
}

.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 999;
    margin-left: 300px;
    margin-top: 4.5em;
}


.line {
    background: black;
    width: 100%;
    height: .2rem;
    pointer-events: none;
}

.text.active {
    transition: 1s;
}

.text.active p {
    margin-bottom: .5em;
    display: none;
}