* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: teal;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    padding: 2rem;
    position: absolute;
    font-size: 1.5rem;
    top: 30%;
    border-radius: 1rem;
    height: 250px;
    width: 400px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .5);
}

input {
    font-size: 1rem;
    padding: .5rem;
    margin: 1rem;
    align-items: center;
}

li {
    list-style-type: none;
    justify-content: space-around;
}

.fa-trash {
    position: absolute;
    right: 10px;
}

.fa-circle-check {
    position: absolute;
    right: 40px;
}