@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

body {
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Island Moments', cursive;
    font-size: 3em;
    color: red;
    text-transform: capitalize;
}