* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 1);
    border-radius: .5em;
    align-items: center;
    padding: 1em;
    display: none;
    background-color: white;
}

button {
    background-color: darkred;
    border-radius: .75em;
    font-size: 1.1em;
    color: white;
    margin: 1em 0;
    padding: .75em;
    border: none;
    cursor: pointer;
}

.icon {
    font-size: 5em;
    color: red;
    margin-bottom: .25em;
}

.container.active {
    display: flex;
}