* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    margin-left: 15rem;

}

img {
    width: 300px;
    height: 200px;
    margin-left: 5rem;
    cursor: pointer;
}


.ul-menu {
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
}

a,
li {
    text-decoration: none;
    margin: 0 .5rem;
    list-style-type: none;
    font-size: 1.5rem;
    color: red;
}


.hamburger {
    bottom: 0rem;
    width: 37.5px;
    height: 35px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 999;
    margin: 0 4rem;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 4px;
    background: black;
}